.contacto-contenedor hr{
    width: 86%;
    margin-top: 10vh;
}
.contacto-titulo{
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    text-align: center;
    letter-spacing: 12px;
    text-shadow: 0 4px 8px rgba(0,0,0,0.35);
    transition: .5s ease-in-out;
}
.contacto-titulo:hover{
    transform: scale(1.03);
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.555);
}

.contacto-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    margin: 4rem auto;
    width: 400px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: .3s ease-in-out;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    font-style: italic;
}
.contacto-card:hover{
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.63);
}
a{
    text-decoration: none;
    color: #0d6efd;
    margin-bottom: 20px;
}
.contactoItem{
    display: flex;
    align-items: center;
    gap: 7px;
    transition: .3s ease-in-out;
}
.contactoItem:hover{
    transform: scale(1.06);    
}
.copiado-msj{
    color: rgb(0, 248, 62);
    font-size: 2.5vw;
    font-style: italic;
    opacity: 0;
    animation: aparecer 0.4s forwards;
}
@keyframes aparecer {
    to { opacity: 1; }
}
/* --- RESPONSIVE --------- */

@media (max-width: 666px){
    .contacto-titulo{
        font-size: 11vw;
    }
    .copiado-msj{
        font-size: 4vw;
    }
}

@media (max-width: 438px){
    .contacto-card{
        width: 90%;
        font-size: 6vw;
    }
}