.sobreMi{
    font-family: 'Inter', sans-serif;
    width: 100vw;
    margin: 0 auto;
}
.hr-SobreMi{
    width: 86%;
}
.sobreMi-titulo{
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 12px;
    text-shadow: 0 4px 8px rgba(0,0,0,0.35);
    transition: .5s ease-in-out;        
}
.sobreMi-titulo:hover{
    transform: scale(1.03);
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.555);
}


.sobreMi-contenedor{
    margin: 0 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sobreMi-card{
    background-color: #ffffffbd;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.521);
    width: 60vw;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    transition: .4s;
}
.sobreMi-card:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.774);
}
.sobreMi-card h3{
    font-size: clamp(2rem, 3vw, 3.5rem);
    margin-bottom: 0;
    font-family: 'Playfair Display', serif;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
}

.info-primera{
    text-align: center;
    line-height: 28px !important;
    margin-bottom: 0;
}
.informacion{
    margin-top: 10px;
    line-height: 34px;
}
.sobreMiData{
    font-size: clamp(1.1rem, 1.5vw, 2rem);
}

.sobreMiData a{
    color: #0d6efd;
}
.sobreMiData li{
    transition: .4s ease-in-out;
    cursor: default;
}
.sobreMiData li:hover{
    transform: scale(1.03);
    transform: translateX(12px);
}


.educacion{
    padding: 0;
    list-style:inside;
    /* line-height: 38px; */
}
.educacion li{
    margin-bottom: 10px;
    padding-right: 10px;
}

.skills{
    display: grid;
    margin: 1.5rem auto;
    padding: 0;
    padding-bottom: 50px;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 3vh 4vw;
    list-style: none;
    font-size: clamp(1rem, 2vw, 2rem);
}
.skills li:hover{
    color: #175ec9;
    letter-spacing: 2px;
}
.skill-no-spacing{
    letter-spacing: 0 !important;
}



/* ---------- RESPONSIVE ---------- */




@media (max-width: 976px){
    .sobreMi-card{
        width: 75vw;
    }

}

@media (max-width: 666px){
    .sobreMi-contenedor{
    margin: 0 auto;
    }
    .sobreMi-card{
        padding: 0 4vw;
    }
    .sobreMi-titulo{
        font-size: 11vw;
    }
}

@media (max-width: 618px){
    .sobreMi-card{
        width: 90vw;
    }
}
@media (max-width: 472px){
    .info-subtitulo{
        /* font-size: clamp(1.1rem, 1.3vw, 2rem); */
        font-size: 3.7vw;
    }
}

@media (max-width: 394px){
    .skills{
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 20px;
    }    
    .sobreMi-card h3{
        font-size: 8.1vw;
    }
}
@media (max-width: 338px){
    .sobreMi-titulo {
        font-size: 2.5rem;
    }
}

@media (max-width: 250px){
    .sobreMi{
        width: 100%;
        margin: 0;
    }
    .sobreMi-card{
        margin: 0;
        width: 95%;
    }
    .educacion{
        padding-left: 1.5rem;
    }
}