.proyectos {
    padding: 4rem 6rem;
    font-family: 'Inter', sans-serif;
}

.proyectos-titulo {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    cursor: default;
    text-align: center;
    margin-bottom: 3rem;
    letter-spacing: 12px;
    text-shadow: 0 4px 8px rgba(0,0,0,0.35);
    transition: .5s ease-in-out;
}
.proyectos-titulo:hover{
    transform: scale(1.03);
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.555);
}



/* ----- CONTENEDOR DE DOS COLUMNAS ----- */
.proyectos-contenedor {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 5rem;
    gap: 3rem;
    background-color: #fffafab0;
    border-radius: 8px;
    box-shadow: 0 0 8px #0000007a;
    padding: 2rem 0;
    transition: .4s ease-in-out;
}
.proyectos-contenedor:hover{
    transform: scale(1.03);
    box-shadow: 0 0 15px #000000a9;
}

/* ----- COLUMNA IZQUIERDA ----- */
.proyecto-izquierda {
    font-family: 'Playfair Display', serif;
    width: 65%;
    padding-left: 3rem;
}
.titulo-icono{
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.proyecto-icono{
    margin: 0 1rem;
    margin-right: 0;
    margin-top: 1rem;
    color: #333;
    transform: scale(1.1);
    pointer-events: auto;
    transition: .4s ease-in-out;
}
.proyecto-icono:hover{
    color: #4179e0;
    transform: scale(1.3);
}
.proyecto-izquierda h3 {
    margin: 0;
    font-size: clamp(1.7rem, 3.6vw, 4rem);
}
.proyecto-izquierda h4{
    margin-top: 0;
    font-size: clamp(1rem, 1.4vw, 4rem);
    padding: 0 20px;
    padding-top: 10px;
    color: rgb(102, 102, 102);
}

.proyecto-izquierda .descripcion {
    font-size: 1.3rem;
    letter-spacing: 2px;
    line-height: 2rem;
}

/* -- CARRUSEL DE IMAGENES --- */
.swiperContenedor {
    width: 45vw;
    border-radius: 10px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.swiper-button-next { 
    width: 3vw !important;
    margin-right: 7px !important;
    height: 40px !important;
    transition: .3s ease-in-out;
}
.swiper-button-prev {
    width: 3vw !important;
    margin-left: 7px !important;
    height: 40px !important;
    transition: .3s ease-in-out;
}
.swiper-button-next:hover{
    transform: scale(1.1);
}
.swiper-button-prev:hover{
    transform: scale(1.1);
}

/* ----- LINEA VERTICAL ----- */
.linea-vertical-proyecto {
    width: 2px;
    background-color: #333;
    height: auto;
    margin-top: 1rem;
}

/* ----- COLUMNA DERECHA ----- */
.proyecto-derecha {
    width: 40%;
    font-family: 'Playfair Display', serif;
}

.proyecto-derecha h3 {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.proyecto-derecha p {
    font-size: clamp(1.1rem, 1.7vw, 3rem);
    color: #000000b0;
    padding-right: 2rem;
    line-height: 2.6vw;
}




/* --RESPONSIVE----------------------- */

 


@media (max-width:1060px){
    .proyectos{
        padding-top: 0;
    }
    .proyecto-derecha p{
        padding-right: 1.2rem;
        line-height: 1.8rem;
    }
    .proyectos-contenedor{
        gap: 2rem;
        padding: 1rem 0;
    }
}

@media (max-width: 900px){
    .linea-vertical-proyecto{
        display: none;
    }

    .proyectos-contenedor {
        box-sizing: border-box;
        flex-direction: column;
        padding: 0;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .proyecto-izquierda {
        width: 100%;
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .proyecto-derecha {
        width: 100%;
        padding: 0 40px;
        padding: 0 9vw;
    }
    .proyecto-derecha p{
        text-align: justify;
        padding-right: 0;
        line-height: 2rem;
    }
    .proyecto-izquierda {
        padding-left: 0;
    }
    .swiperContenedor {
        width: 75vw;
    }

    .proyectos{
        padding: 4rem 0;
    }
    .proyectos-contenedor{
        margin-left: 10vw;
        margin-right: 10vw;
    }
    hr{
        margin-left: 10vw;
        margin-right: 10vw;
    }
}

@media (max-width: 670px){
    .proyectos-contenedor{
        width: 92%;
        margin-left: auto;
        margin-right: auto;
    }
    .proyectos-titulo {
        font-size: 11vw;
        text-align: center;
    }
    .proyecto-derecha p{
        line-height: 1.8rem;
    }
    .swiperContenedor {
        width: 88vw;
    }

    .titulo-icono{
        height: 13vh;
    }
}

@media (max-width: 579px){
    .proyecto-izquierda h4{
        margin-top: 10px;
    }
    .proyecto-derecha p{
        text-align: left;
    }
    .proyecto-derecha{
        padding: 0 1rem;
    }
}

@media (max-width: 364px) {
    .proyecto-izquierda h3 {
        font-size: 1.3rem;
    }
}
@media (max-width: 338px){
    .proyectos-titulo {
        font-size: 2.5rem;
    }
    .swiperContenedor {
        width: 17rem;
    }

}