:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.822);
  /* background-color: #242424; */
  background-color: #eee8e1; 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  transition: background-color 0.4s ease, color 0.4s ease;
}

body.dark-mode {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

body.dark-mode .sub-info {
  color: rgba(255, 255, 255, 0.7);
}

body.dark-mode .iconoInicio {
  color: rgba(255, 255, 255, 0.87);
}

body.dark-mode .inicio-enlaces a {
  color: rgba(255, 255, 255, 0.87);
  text-shadow: -10px 2px 13px rgba(0, 0, 0, 0.589) !important;
}

body.dark-mode .linea-vertical {
  background-color: rgba(255, 255, 255, 0.3);
}
body.dark-mode .proyectos-contenedor{
  box-shadow: 0 0 13px #000000;
  background-color: rgba(255, 255, 255, 0.651);
}

body.dark-mode .sobreMi-card{
  color: rgba(0, 0, 0, 0.815);
  box-shadow: 0 0 13px #000000;
  background-color: rgba(255, 255, 255, 0.719);
}
